{% extends "layout.html" %}
{% block title %}Birth Registration Dashboard{% endblock %}
{% load humanize %}
{% load br-tags %}
{% load campaign-filters %}
{% block page_tabs %}
<ul id="page-tabs">
	<li {% ifequal prefix "/br" %}class="active"{% endifequal %}><a href="/br">Cummulative</a></li>
	<li {% ifequal prefix "/br/monthly" %}class="active"{% endifequal %}><a href="/br/monthly">Monthly</a></li>
	<!--<li><a href="/br/monthly">Charts</a></li>-->
</ul>
{% endblock %}
{% block content %}
<style>
  .qt { margin-bottom: 2em; }
  .qt-module-wrapper { margin: auto; width:720px; }
  .qt-module { width: 180px; float:left }
  .qt-header { text-align: center; padding: 1em; font-size: 1em; background-color: #fffea7; font-weight: bold; }
  .qt-body { text-align: center; padding: 0.5em; font-size: 2em; background-color: #ffffbe; }
  .module h2 { font-size: 1.2em; }
  .module th + th { text-align: right }
</style>
<div class="tmp">

<p class="split" style="display:inline;float:left">
  <strong>{{ state.name }} State Birth Registration Data</strong>
</p>

<p class="split" style="display:inline;float:right">
	{% states prefix state.code %} {% months prefix state.code month_year month_month %}
	{% if perms.br.can_view %}
	{% ifequal prefix '/br' %}
	<button type="button" onclick="location.href='/br/data/{{ state.code }}/{{ month_year }}/{{ month_month }}'">Download CSV</button>
	{% else %}
	<button type="button" onclick="location.href='/br/data/monthly/{{ state.code }}/{{ month_year }}/{{ month_month }}'">Download CSV</button>
	{% endifequal %}
	{% endif %}
</p>

<div class="clear-hack"></div>

<div class="split qt">
  <div class="qt-module-wrapper">
    <div class="qt-module">
      <div class="qt-header">Boys below 1</div>
      <div class="qt-body">{{ boys_below1|intcomma }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Boys 1 thru 4</div>
      <div class="qt-body">{{ boys_1to4|intcomma }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Boys 5 thru 9</div>
      <div class="qt-body">{{ boys_5to9|intcomma }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Boys 10 thru 17</div>
      <div class="qt-body">{{ boys_10to18|intcomma }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Girls below 1</div>
      <div class="qt-body">{{ girls_below1|intcomma }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Girls 1 thru 4</div>
      <div class="qt-body">{{ girls_1to4|intcomma }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Girls 5 thru 9</div>
      <div class="qt-body">{{ girls_5to9|intcomma }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Girls 10 thru 17</div>
      <div class="qt-body">{{ girls_10to18|intcomma }}</div>
    </div>
  </div>
  <div class="clear-hack"></div>
</div>

{% if birthregistration_data %}
<div class="split"> 
	<div> 
    <div class="module progress"> 
    <h2>LGAs Birth Registration Summary</h2> 
      <div class="help"> 
        <p>LGAs Birth Registration Summary shows a summary of the births registered of boys and girls over and under 5 years of age reported in the different LGAs and Wards.</p> 
      </div>
      <div class="scroller"> 
        <table class="export">
        {% if birthregistration_data %}
          {% for lga in birthregistration_data %}
            <thead> 
              <tr class="caption"> 
                <td colspan="11"> 
                  <h3>{{ lga.name }}</h3> 
                </td> 
              </tr>
              <tr> 
                <th>Registration Center</th> 
                <th class="min num">Boys &lt; 1</th>
                <th class="min num">Boys 1 - 4</th>
                <th class="min num">Boys 5 - 9</th>
                <th class="min num">Boys 10 - 17</th>
				<th class="min num"><strong>Total</strong></th>
                <th class="min num">Girls &lt; 1</th>
                <th class="min num">Girls 1 - 4</th>
                <th class="min num">Girls 5 - 9</th>
                <th class="min num">Girls 10 - 17</th>
                <th class="min num"><strong>Total</strong></th>
              </tr> 
            </thead>
            <tbody> 
              {% for rc in lga.data %}
              <tr class=warning> 
                <td>{{ rc.name }}</td> 
                <td class="min num">{{ rc.boys_below1|default:"-" }}</td>
                <td class="min num">{{ rc.boys_1to4|default:"-" }}</td>
                <td class="min num">{{ rc.boys_5to9|default:"-" }}</td>
                <td class="min num">{{ rc.boys_10to18|default:"-" }}</td>
                <td class="min num"><strong>{{ rc.total_boys|default:"-" }}</strong></td>
                <td class="min num">{{ rc.girls_below1|default:"-" }}</td>
                <td class="min num">{{ rc.girls_1to4|default:"-" }}</td>
                <td class="min num">{{ rc.girls_5to9|default:"-" }}</td>
                <td class="min num">{{ rc.girls_10to18|default:"-" }}</td>
                <td class="min num"><strong>{{ rc.total_girls|default:"-" }}</strong></td>
              </tr>
              {% endfor %}
              <tr class="totals"> 
                <td>Total for LGA</td> 
                <td class="min num">{{ lga.boys_below1|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.boys_1to4|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.boys_5to9|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.boys_10to18|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.total_boys|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.girls_below1|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.girls_1to4|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.girls_5to9|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.girls_10to18|default:"-"|intcomma }}</td>
                <td class="min num">{{ lga.total_girls|default:"-"|intcomma }}</td>
              </tr> 
              <tr class="summary"> 
                <td colspan="11"> 
                  {{ lga.reporters|default:"0" }} supervisor{{ lga.reporters|pluralize }} in {{ lga.data|length }} Registration Center{{ lga.data|length|pluralize }}
                </td> 
              </tr> 
            </tbody>
          {% endfor %}
        {% else %}
          <tbody><tr class="summary"><td>No data available</td></tr></tbody>
        {% endif %}
        </table> 
      </div> 
    </div> 
	</div>
	<div class="clear-hack"></div> 
</div>
{% endif %}

<div style="display:none"></div>
{% endblock %}
