{% extends "layout.html" %}
{% block title %}Vaccine Logistics Management Dashboard{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/static/vlm/javascripts/vlm.js"></script>
{% endblock %}
{% load cache %}
{% load vlm-tags %}
{% load campaign-filters %}
{% load humanize %}

{% block content %}
<style>
  .qt { margin-bottom: 2em; }
  .qt-module-wrapper { margin: auto; width:900px; }
  .qt-module { width: 180px; float:left }
  .qt-header { text-align: center; padding: 1em; font-size: 1em; background-color: #fffea7; font-weight: bold; }
  .qt-body { text-align: center; padding: 0.5em; font-size: 2em; background-color: #ffffbe; }
	.hf { background-color: #ffffbe; display:none; }
	.ward { cursor: pointer; }
  .chart { width: 450px; float: left; }
  .highcharts-title { background: none; border: 0; }
  .highcharts-subtitle { background: none; border: 0}
  .caption a { text-decoration: none; }
  .caption h3 { font-weight: bold; }
  .module h2 { font-size: 1.2em; }
  .module th + th { text-align: right }
  #vst th { text-align: left }
</style>
<div class="tmp">

<div class="split" style="margin-bottom: 2em;">
<p align="right">
{% zones '/vlm/' %}
</p> 
</div>


<div class="split qt">
  <div class="qt-module-wrapper">
		<h2>National Store Stock Levels{% if stock_date %} as at {{ stock_date|date:"N j, Y" }}{% endif %}</h2>
		{% for stock_item in stock %}
    <div class="qt-module">
      <div class="qt-header">{{ stock_item.commodity }}</div>
      <div class="qt-body">{{ stock_item.balance|intcomma }}</div>
    </div>
		{% endfor %}
  </div>
  <div class="clear-hack"></div>
</div>

{% for region in regions %} 
<div class="split qt">
  <div class="qt-module-wrapper">
		<h2>{{ region.name }} Store Stock Levels{% if region.latest %} as at {{ region.latest|date:"N j, Y" }}{% endif %}</h2>
		{% for commodity in region.commodities %}
    <div class="qt-module">
      <div class="qt-header">{{ commodity_names|key_value:commodity }}</div>
      <div class="qt-body">{{ region.commodities|key_value:commodity|default:"-"|intcomma }}</div>
    </div>
		{% endfor %}
  </div>
  <div class="clear-hack"></div>
</div>
{% endfor %}

<div style="display:none">
</div>
{% endblock %}
