{% extends "layout.html" %}
{% block title %}Bednets Dashboard{% endblock %}
{% block page_stylesheets %}
   <link type="text/css" rel="stylesheet" href="/static/bednets/stylesheets/reports.css" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/static/webapp/javascripts/highcharts.js"></script>
<!--[if IE]>
<script type="text/javascript" src="/static/webapp/javascripts/excanvas.compiled.js"></script>
<![endif]-->
{% endblock %}
{% load cache %}
{% load campaign-tags %}
{% load bednets-tags %}

{% block content %}
{# cache content of dashboard for one hour #}
{% cache 0 bednets_dashboard %}
<style>
  .qt-module-wrapper { margin: auto; width:990px; }
  .qt-module { width: 131px; float:left }
  .qt-header { text-align: center; padding: 1em; font-size: 0.8em; background-color: #fffea7; font-weight: bold; min-height:1em; }
  .qt-body { text-align: center; padding: 0.5em; font-size: 1.5em; background-color: #ffffbe; }
  .qt { background-color: #ffffbe; }
  .chart { width: 450px; float: left; }
  .highcharts-title { background: none; border: 0; }
  .highcharts-subtitle { background: none; border: 0}
  .caption a { text-decoration: none; }
  .caption h3 { font-weight: bold; }
</style>
<div class="tmp">

<div class="split" style="margin-bottom: 2em;">
  {% if perms.bednets.can_view and campaign_id %}
  <div style="float:left">
    <form action="/bednets/data/{{ campaign_id }}/{{ state_id }}" method="post">
      <select name="activity">
        <option value="cards">Cards Distribution Data</option>
        <option value="nets">Nets Distribution Data</option>
      </select>
      <button type="submit">Download</button>
    </form>
  </div>
  {% endif %}
  {% campaigns "/bednets/" campaign_id state_id %}
</div>

<div class="split qt">
  <div class="qt-module-wrapper">
    <div class="qt-module">
      <div class="qt-header">Stock Transfers</div>
      <div class="qt-body">{{ no_of_stock_transfers }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Card Reports</div>
      <div class="qt-body">{{ no_of_card_reports }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Cards Distributed</div>
      <div class="qt-body">{{ no_of_distributed_cards }}</div>
      {% if no_of_distributed_cards_target %}<div class="qt-body">({{ no_of_distributed_cards_coverage|floatformat }}%)</div>{% endif %}
    </div>
    <div class="qt-module">
      <div class="qt-header">Net Reports</div>
      <div class="qt-body">{{ no_of_net_reports }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Nets Distributed</div>
      <div class="qt-body">{{ no_of_distributed_nets }}</div>
      {% if no_of_distributed_nets_target %}<div class="qt-body">({{ no_of_distributed_nets_coverage|floatformat }}%)</div>{% endif %}
    </div>
    <div class="qt-module">
      <div class="qt-header">Reporters</div>
      <div class="qt-body">{{ no_of_reporters }}</div>
    </div>
    <div class="qt-module">
      <div class="qt-header">Active Locations</div>
      <div class="qt-body">{{ active_locations }}</div>
    </div>
  </div>
  <div class="clear-hack"></div>
</div>

<div class="split">
  <div class="left dist">
    {% distribution_summary campaign_id state_id %}
  </div>
  <div class="right">
    {% logistics_summary campaign_id state_id %}
  </div>
  <div class="clear-hack"></div>
</div>

{% endcache %}
{% endblock %}
